@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.image:hover {
    transition: all .3s;
    transform: scale(1.01, 1.01);
    box-shadow: 1px 5px 8px #888888;
}
.image {
    transition: all .3s;
}
#listBook {
}
.book {
    height: 260px;
    margin-top: 20px;
    border: 1px solid #c8cbcf;
}
.book p {
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px !important;
    text-overflow: clip;
}
.col-sm-7 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}
#pagination {
    margin-top: 50px;
    position: absolute;
    left: 45%;
    margin-bottom: 20px;
}
.borrow {
    margin-top: 120px;
    font-size: 15px;
    font-weight: bold;
	background-color: #2e6da4;
}
.a-custom:hover{
	color: blue;
}